body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #729EBA url(../images/bg-container.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    animation: moveBackground 120s linear infinite;
    font-family: 'Red Hat Display', sans-serif;
    padding: 15px;
    height: 100vh;
}

@keyframes moveBackground {
    from {
        background-position: 0%;
    }to {
        background-position: 100%;
    }
}