.card-container {
    color: #fff;
    max-width: 330px;
    width: 100%;
    text-align: center;
    background: #0b18425d;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 5px 5px 2px #0000004c, -3px -3px 2px #8ab7ff4c;
}